
/* Custom styles will be added here as needed */

/* Prose styling for terms and conditions */
.prose {
  max-width: 65ch;
  color: #333;
}

.prose h1, .prose h2, .prose h3, .prose h4, .prose h5, .prose h6 {
  color: #0A1A2F;
  font-family: 'Playfair Display', serif;
  font-weight: 600;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}

.prose p {
  margin-bottom: 1em;
  line-height: 1.6;
}

.prose ul, .prose ol {
  margin-left: 1.5em;
  margin-bottom: 1em;
}

.prose li {
  margin-bottom: 0.5em;
}

.prose a {
  color: #E07A5F;
  text-decoration: underline;
}

.prose a:hover {
  text-decoration: none;
}

.prose .font-semibold {
  font-weight: 600;
}

.prose-lg {
  font-size: 1.125rem;
}

.prose-lg p {
  margin-bottom: 1.5em;
}


/* Blog post content styling */
.max-w-none h2 {
  font-size: 2em;
  font-weight: 700;
  margin-top: 1.5em;
  margin-bottom: 0.75em;
  color: #0A1A2F;
  font-family: 'Playfair Display', serif;
}

.max-w-none h3 {
  font-size: 1.5em;
  font-weight: 600;
  margin-top: 1.25em;
  margin-bottom: 0.5em;
  color: #0A1A2F;
  font-family: 'Playfair Display', serif;
}

.max-w-none h4 {
  font-size: 1.25em;
  font-weight: 600;
  margin-top: 1em;
  margin-bottom: 0.5em;
  color: #0A1A2F;
}

.max-w-none p {
  margin-bottom: 1.25em;
  line-height: 1.75;
  color: #374151;
}

.max-w-none ul, .max-w-none ol {
  margin-left: 2em;
  margin-bottom: 1.25em;
  line-height: 1.75;
}

.max-w-none li {
  margin-bottom: 0.5em;
}

.max-w-none strong {
  font-weight: 600;
  color: #1f2937;
}

.max-w-none em {
  font-style: italic;
}

.max-w-none hr {
  margin: 2em 0;
  border: 0;
  border-top: 1px solid #e5e7eb;
}

.max-w-none blockquote {
  border-left: 4px solid #E07A5F;
  padding-left: 1.5em;
  margin: 1.5em 0;
  font-style: italic;
  color: #4b5563;
}

.max-w-none a {
  color: #E07A5F;
  text-decoration: underline;
}

.max-w-none a:hover {
  color: #d06950;
}
